/.idea/django_kr.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_13_10_2023_22_57_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_13_10_2023_22_57__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_13_10_2023_22_57_[Changes]/shelved.patch
