{% extends 'main/base.html' %}

{% block content %}
{% if user.is_staff %}
<a href="{% url 'blog:blogpost_form' %}" class="btn btn-success">Создать пост</a>
{% endif %}
    <div class="row">
        {% for blogpost in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ blogpost.title }}</h5>
                        <p class="card-text">{{ blogpost.content }}</p>
                        <a href="{% url 'blog:blogpost_detail' blogpost.pk %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}